
@import 'constants.less';

/* Reset definitions */
*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

/* Main containers */

.Main_header{
    background: @header_color;
    height: @Main_header--height;    
}

.Main_content{
    height: @Main_content--height;
    overflow-y: auto;
}

.Main_footer{
    background: @footer_color; 
    height: @Main_footer--height;
}