/**
    Pallete
*/
/**
* Maditions
*/
/* Reset definitions */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
/* Main containers */
.Main_header {
  background: #36444c;
  height: 70px;
}
.Main_content {
  height: calc(100% -  120px);
  overflow-y: auto;
}
.Main_footer {
  background: #edf1f4;
  height: 50px;
}
/* Components in Page */
.Section_Definition__Header_Section__h1 {
  font-size: 1.3em;
  color: #80a5b8;
}
.Section_Definition__Header_Section__h2 {
  font-size: 1.4em;
  color: #59676e;
  font-weight: bold;
  margin-top: 0px;
}
