
@import 'constants.less';

/* Reset definitions */
*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

/* Main containers */

.Main_header{
    background: @header_color;
    height: @Main_header--height;    
}

.Main_content{
    height: @Main_content--height;
    overflow-y: auto;
}

.Main_footer{
    background: @footer_color; 
    height: @Main_footer--height;
}

/* Components in Page */

.Section_Definition{
    &__Header{
        &__h1{
            font-size: 1.3em;
            color: @section_definition_title_h1--color;
        }
        &__h2{
            font-size: 1.4em;
            color: @section_definition_title_h2--color;
            font-weight: bold;
            margin-top: 0px;
        }
    }

    &__Content{
        margin-top: 5px;
    }
}

.Card_Definition{
    background-color: @card_definition_background--color;
    &__List{
        list-style: none;

        &_Item{
            border-bottom: 1px solid #b8c1c5;
            display: table;
            padding: 10px 3px;
            width: 100%;

            &__Icon{
                color: @card_definition_item_icon--color;
                display: table-cell;                
                width: 32px;
            }

            &__Text{
                display: table-cell;
                width: 90%;
                vertical-align: middle;
                padding-left: 5px;
                span{                    
                    font-size: .95em;
                    font-style: italic;
                }
            }

            &__Quantity{
                float: right;
                font-size: 1.3em;
                font-weight: bold;
            }

            &.Last{
                border: none;
            }
        }
    }
}